<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">    
    
<gazebo reference="j_arm1_1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_5">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>
<gazebo reference="j_arm1_6">
    <implicitSpringDamper>1</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
</gazebo>

</robot>

