<?xml version="1.0"?>
<launch>

    <param name="cartesian/problem_description" textfile="$(find inail2arm_cartesio)/config/inail2arm_simple_stack.yaml"/>
    
    <arg name="ci_rviz" default="false" />
    <arg name="solver" default="OpenSot"/>
    <arg name="gdb" default="false" />
    <arg if="$(arg gdb)" name="prefix" value="gdb -ex run --arg"/>
    <arg unless="$(arg gdb)" name="prefix" value=""/>
    <arg name="rate" default="100.0"/>
    <arg name="tf_prefix" default="ci"/>
    <arg name="markers" default="false"/>
    <arg name="namespace" default=""/> <!-- dummy argument avoids pass_all_args error in parent launch file -->
    <arg name="is_model_floating_base" default="false"/>    
    
    <param name="cartesian/joint_blacklist" type="yaml" value="[dagana_1_claw_joint]"/>
    
    <node pkg="cartesian_interface" type="ros_server_node" 
                                    name="ros_server_node" 
                                    required="true" 
                                    output="screen" 
                                    launch-prefix="$(arg prefix)">
                                    
        <param name="is_model_floating_base" value="$(arg is_model_floating_base)"/>
        <param name="model_type" value="RBDL"/>
        <param name="solver" value="$(arg solver)"/>
        <param name="rate" value="$(arg rate)"/>
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
        <param name="world_frame_link" value="world"/>

        
        <remap from="robot_description" to="xbotcore/robot_description" />
        <remap from="robot_description_semantic" to="xbotcore/robot_description_semantic" />
        
    </node>

    <node if="$(arg markers)" pkg="cartesian_interface" type="marker_spawner" name="interactive_markers" output="screen">
        <param name="tf_prefix" value="$(arg tf_prefix)"/>
    </node>

    <node if="$(arg ci_rviz)" pkg="rviz" type="rviz" name="rviz_ci" output="screen" args="-d $(find inail2arm_cartesio)/config/inail2arm_cartesio.rviz">
    </node> 
</launch>
