<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="inail2arm">
    
    <xacro:include filename="$(find inail2arm_urdf)/config/inail2arm.urdf.xacro" />
    
    <group name="arm">
        <chain base_link="base_link" tip_link="tcp_1"/>
    </group>
    
    <xacro:if value="${END_EFFECTOR == 'dagana' or END_EFFECTOR == 'dagana_fixed'}">
        <group name="dagana">
            <chain base_link="arm1_6" tip_link="dagana_1_bottom_link"/>
        </group>
    </xacro:if>

    <group name="chains">
        <group name="arm"/>
        <xacro:if value="${END_EFFECTOR == 'dagana' or END_EFFECTOR == 'dagana_fixed'}">
            <group name="dagana"></group>
        </xacro:if>
    </group>
    
<!--    <group_state group="arm" name="home">-->
    <group_state group="arm" name="home">
        <joint name="j_arm1_1" value="0.0"/>
        <joint name="j_arm1_2" value="0.45"/>
        <joint name="j_arm1_3" value="-1.6"/>
        <joint name="j_arm1_4" value="0.0"/>
        <joint name="j_arm1_5" value="1.1"/>
        <joint name="j_arm1_6" value="0.0"/>
<!--        <xacro:if value="${END_EFFECTOR == 'dagana'}">
            <joint name="dagana_1_bottom_link" value="0.0"/>
        </xacro:if>-->
    </group_state>
    
    <!--  For moveit    -->
    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <xacro:if value="${END_EFFECTOR == 'dagana' or END_EFFECTOR == 'dagana_fixed'}">
        <end_effector name="dagana" parent_link="arm1_6" group="dagana" parent_group="arm"/>
    </xacro:if>

    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="reference" type="fixed" parent_frame="world" child_link="base_link"/>
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="arm1_1" link2="arm1_2" reason="Adjacent"/>
    <disable_collisions link1="arm1_1" link2="arm1_3" reason="Never"/>
    <disable_collisions link1="arm1_1" link2="arm1_4" reason="Never"/>
    <disable_collisions link1="arm1_1" link2="arm1_5" reason="Never"/>
    <disable_collisions link1="arm1_1" link2="arm1_6" reason="Never"/>
    <disable_collisions link1="arm1_1" link2="base_link" reason="Adjacent"/>
    <disable_collisions link1="arm1_2" link2="arm1_3" reason="Adjacent"/>
    <disable_collisions link1="arm1_2" link2="arm1_5" reason="Never"/>
    <disable_collisions link1="arm1_2" link2="arm1_6" reason="Never"/>
    <disable_collisions link1="arm1_2" link2="base_link" reason="Never"/>
    <disable_collisions link1="arm1_3" link2="arm1_4" reason="Adjacent"/>
    <disable_collisions link1="arm1_3" link2="arm1_5" reason="Never"/>
    <disable_collisions link1="arm1_3" link2="arm1_6" reason="Never"/>
    <disable_collisions link1="arm1_3" link2="base_link" reason="Never"/>
    <disable_collisions link1="arm1_4" link2="arm1_5" reason="Adjacent"/>
    <disable_collisions link1="arm1_4" link2="arm1_6" reason="Never"/>
    <disable_collisions link1="arm1_5" link2="arm1_6" reason="Adjacent"/>

    <xacro:if value="${END_EFFECTOR == 'dagana' or END_EFFECTOR == 'dagana_fixed'}">
        <disable_collisions link1="arm1_3" link2="dagana_1_bottom_link" reason="Never"/>
        <disable_collisions link1="arm1_3" link2="dagana_1_top_link" reason="Never"/>
        <disable_collisions link1="arm1_4" link2="dagana_1_bottom_link" reason="Never"/>
        <disable_collisions link1="arm1_4" link2="dagana_1_top_link" reason="Never"/>
        <disable_collisions link1="arm1_5" link2="dagana_1_bottom_link" reason="Never"/>
        <disable_collisions link1="arm1_5" link2="dagana_1_top_link" reason="Never"/>
        <disable_collisions link1="arm1_6" link2="dagana_1_bottom_link" reason="Never"/>
        <disable_collisions link1="arm1_6" link2="dagana_1_top_link" reason="Adjacent"/>
        <disable_collisions link1="dagana_1_bottom_link" link2="dagana_1_top_link" reason="Adjacent"/>
    </xacro:if>

</robot>
