<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="inail2arm">
    
    <xacro:include filename="$(find inail2arm_urdf)/config/inail2arm.urdf.xacro" />
    
    <group name="left_arm">
        <chain base_link="base_link" tip_link="arm1_6"/>
    </group>

    <group name="right_arm">
        <chain base_link="base_link" tip_link="arm2_6"/>
    </group>

    <xacro:if value="${END_EFFECTOR == 'dagana'}">
        <group name="dagana_1">
            <chain base_link="arm1_6" tip_link="dagana_1_bottom_link"/>
        </group>
        <group name="dagana_2">
            <chain base_link="arm2_6" tip_link="dagana_2_bottom_link"/>
        </group>
    </xacro:if>

    <group name="chains">
        <group name="left_arm"/>
        <group name="right_arm"/>
        <xacro:if value="${END_EFFECTOR == 'dagana'}">
            <group name="dagana_1" />
            <group name="dagana_2" />
        </xacro:if>
    </group>
    
    <group_state group="chains" name="home">
        <joint name="j_arm2_1" value="-0.7"/>
        <joint name="j_arm2_2" value="-0.6"/>
        <joint name="j_arm2_3" value="1.6"/>
        <joint name="j_arm2_4" value="0.6"/>
        <joint name="j_arm2_5" value="-1.5"/>
        <joint name="j_arm2_6" value="0.0"/>

        <joint name="j_arm1_1" value="0.7"/>
        <joint name="j_arm1_2" value="0.6"/>
        <joint name="j_arm1_3" value="-1.6"/>
        <joint name="j_arm1_4" value="-0.6"/>
        <joint name="j_arm1_5" value="1.5"/>
        <joint name="j_arm1_6" value="0.0"/>
<!-- 
        <joint name="j_arm2_1" value="-1.7"/>
        <joint name="j_arm2_2" value="-0.4"/>
        <joint name="j_arm2_3" value="1.7"/>
        <joint name="j_arm2_4" value="1.4"/>
        <joint name="j_arm2_5" value="1.57"/>
        <joint name="j_arm2_6" value="0.0"/>

        <joint name="j_arm1_1" value="1.7"/>
        <joint name="j_arm1_2" value="0.4"/>
        <joint name="j_arm1_3" value="-1.7"/>
        <joint name="j_arm1_4" value="-1.4"/>
        <joint name="j_arm1_5" value="-1.57"/>
        <joint name="j_arm1_6" value="0.0"/> -->
        
    </group_state>

   </robot>
