<?xml version="1.0"?>
<launch>

    <arg name="rviz" default="true" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be
    launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find inail2arm_gazebo)/worlds/empty.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="recording" value="false" />
        <arg name="debug" value="false" />
        <arg name="verbose" value="true" />
        <arg name="physics" value="ode" />
        <!--   to record log, btw deprecated name now it is recording      -->
        <!--        <arg name="headless" default="false"/> -->
    </include>

    <param name="gazebo/robot_description"
        command="xacro $(find inail2arm_urdf)/urdf/inail2_dual_arm_robot.urdf.xacro" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model inail2_dual_arm -param gazebo/robot_description" />


</launch>