<?xml version="1.0"?>
<launch>

    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}] [${function}] [${line}]: ${message}"/>

    
    <arg name="rviz" default="true" />

<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find inail2arm_gazebo)/worlds/inail2arm.world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
        <arg name="physics" value="ode"/>
<!--   to record log, btw deprecated name now it is recording      -->
<!--        <arg name="headless" default="false"/> -->
    </include>
    
    <!-- ***************************** TABLE   ********************************************************************************* -->

    <arg name="t_pose_x" value="0" />
    <arg name="t_pose_y" value="0" />
    <arg name="surface_high" value="0.853" />
    <arg name="t_size_x" value="0.75" />
    <arg name="t_size_y" value="1.2" />
    <arg name="t_size_z" value="0.05" />


    <include file="$(find iit_gazebo_worlds_pkg)/table/launch/load_table.launch">
        <arg name="table_name" value="table"/>
        <arg name="table_urdf_name" value="table"/>
        <arg name="pub_tf" value="true"/>
        <arg name="pub_world_pose" value="false"/>
        <arg name="t_pose_x" value="$(arg t_pose_x)" />
        <arg name="t_pose_y" value="$(arg t_pose_y)" />
        <arg name="surface_high" value="$(arg surface_high)"/>
        <arg name="surface_size_x" value="$(arg t_size_x)"/>
        <arg name="surface_size_y" value="$(arg t_size_y)"/>
        <arg name="surface_size_z" value="$(arg t_size_z)"/>
        <arg name="surface_gazebo_color" value="Gazebo/Gold"/>
    </include>
    
    <!-- ***************************** REALSENSE D435   ********************************************************************************************** -->
    
    <include file="$(find realsense_gazebo_description)/launch/load_d435i_standalone.launch">
        <arg name="name" value="D435_camera" />
        <arg name="parent" value="D435_camera_mount" />
<!--        <arg name="pose_x" value="-0.525" />
        <arg name="pose_y" value="0.534" />
        <arg name="pose_z" value="1.15" />
        <arg name="pose_roll" value="0" />
        <arg name="pose_pitch" value="0.479" />
        <arg name="pose_yaw" value="-0.627" />
        <arg name="pub_world_tf" value="true" />
-->
        <arg name="spawn_x" value="$(eval t_pose_x - 0.36731)" />
        <arg name="spawn_y" value="$(eval t_pose_y + 0.732763)" />
        <arg name="spawn_z" value="$(eval surface_high + 0.39648)" />
        <arg name="spawn_roll" value="0.0101501" />
        <arg name="spawn_pitch" value="0.5798331" />
        <arg name="spawn_yaw" value="-1.1321645" />
        <arg name="enable_pointcloud" value="true" />
        <arg name="pub_world_tf" value="false" />
    </include>
    
<!--    <node pkg="tf2_ros" type="static_transform_publisher" name="table_to_cam_base" args="-0.36731 0.732763 0.39648  -0.15738 -0.2386 0.51502 -0.80777 surface_top D435_camera_mount"
    />-->
    

    
    
    <!-- ***************************** ROBOT   ******************************************************************** -->
    
    <include file="$(find inail2arm_gazebo)/launch/loaders/load_inail2arm.launch">
        <arg name="pose_x" value="$(eval t_pose_x - (t_size_x/2 - 0.10))" />
        <arg name="pose_y" value="$(eval t_pose_y - (t_size_y/2 - 0.10))" />
        <arg name="pose_z" value="$(eval surface_high)" />
        <arg name="waitFor" value="table" />
    </include>
    
    <!-- ***************************** OBJECTS   *************************************************** -->
    
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="name" value="box1"/>
        <arg name="pose_x" value="$(eval t_pose_x + 0)" />
        <arg name="pose_y" value="$(eval t_pose_y + 0)" />
        <arg name="pose_z" value="$(eval surface_high + 0.1/2 + 0.01)" />
        <arg name="pub_box_data" value="false"/>    
        <arg name="dim_x" value="0.1"/>
        <arg name="dim_y" value="0.1"/>
        <arg name="dim_z" value="0.1"/>
        <arg name="mass" value="1"/>
        <arg name="table_model_name" value="table"/>
        <arg name="gazebo_color" value="Gazebo/ZincYellow"/>
    </include>
    
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="name" value="box2"/>
        <arg name="pose_x" value="$(eval t_pose_x + 0.1)" />
        <arg name="pose_y" value="$(eval t_pose_y - 0.25)" />
        <arg name="pose_z" value="$(eval surface_high + 0.1/2 + 0.01)" />
        <arg name="pub_box_data" value="false"/>    
        <arg name="dim_x" value="0.1"/>
        <arg name="dim_y" value="0.1"/>
        <arg name="dim_z" value="0.2"/>
        <arg name="mass" value="1"/>
        <arg name="table_model_name" value="table"/>
        <arg name="gazebo_color" value="Gazebo/Blue"/>
    </include>
    
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="name" value="box3"/>
        <arg name="pose_x" value="$(eval t_pose_x - 0.2)" />
        <arg name="pose_y" value="$(eval t_pose_y + 0.4)" />
        <arg name="pose_z" value="$(eval surface_high + 0.1/2 + 0.01)" />
        <arg name="pub_box_data" value="false"/>    
        <arg name="dim_x" value="0.1"/>
        <arg name="dim_y" value="0.15"/>
        <arg name="dim_z" value="0.05"/>
        <arg name="mass" value="1"/>
        <arg name="table_model_name" value="table"/>
        <arg name="gazebo_color" value="Gazebo/Trunk"/>
    </include>
    
    <include file="$(find iit_gazebo_worlds_pkg)/arucoBoxes/launch/loaders/load_box.launch">
        <arg name="name" value="box4"/>
        <arg name="pose_x" value="$(eval t_pose_x + 0.1)" />
        <arg name="pose_y" value="$(eval t_pose_y + 0.4)" />
        <arg name="pose_z" value="$(eval surface_high + 0.1/2 + 0.01)" />
        <arg name="pub_box_data" value="false"/>    
        <arg name="dim_x" value="0.25"/>
        <arg name="dim_y" value="0.08"/>
        <arg name="dim_z" value="0.078"/>
        <arg name="mass" value="1"/>
        <arg name="table_model_name" value="table"/>
        <arg name="gazebo_color" value="Gazebo/Orange"/>
    </include>

    
        <!-- unique node for pub all obj_world_poses, so we put pub_xxx_data to false above -->
    <node name="poses_gazebo_to_tf" pkg="iit_gazebo_worlds_pkg" type="pose_gazebo_to_tf.py" output="screen" 
          args="--reference world --models table D435_camera box1 box2 box3 box4 --models_link surface D435_camera_mount box1 box2 box3 box4 --ignore_roslaunch_added_param" />
    
    <!-- *************************** RVIZ OPTION ********************************************************************************************* -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find inail2arm_urdf)/config/inail2arm_haria_rviz.rviz">
    </node> 

</launch>

