<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="inail2arm">

    <xacro:arg name="x" default="0"/>
    <xacro:arg name="y" default="0"/>
    <xacro:arg name="z" default="0"/>
    <xacro:arg name="roll" default="0"/>
    <xacro:arg name="pitch" default="0"/>
    <xacro:arg name="yaw" default="0"/>
    
    <link name="world"/>
    <joint name="reference" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)"/>
    </joint>
    
    <!-- **** main robot model **** -->
    <xacro:include filename="$(find inail2arm_urdf)/urdf/inail2arm.urdf.xacro" />

    <!-- **** gazebo **** -->
    <xacro:include filename="$(find inail2arm_urdf)/urdf/gazebo/inail2arm.gazebo.xacro" />
    <xacro:include filename="$(find inail2arm_urdf)/urdf/gazebo/xbot.gazebo.xacro" />
    <xacro:include filename="$(find inail2arm_urdf)/urdf/gazebo/materials.gazebo.xacro" />
   
</robot>
