<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Origin -->
<xacro:property name="Shoulder_1_Ox" value=" 0.0 "/> 
<xacro:property name="Shoulder_1_Oy" value=" 0.0 "/>
<xacro:property name="Shoulder_1_Oz" value=" 0.175150 "/>
<xacro:property name="Shoulder_1_roll" value=" 0.0 "/>
<xacro:property name="Shoulder_1_pitch" value=" 0.0 "/> 
<xacro:property name="Shoulder_1_yaw" value=" 0.0 "/>

<!-- Origin -->
<xacro:property name="Shoulder_2_Ox" value=" 0.0 "/>
<xacro:property name="Shoulder_2_Oy" value=" -0.051 "/>
<xacro:property name="Shoulder_2_Oz" value=" 0.079 "/>
<xacro:property name="Shoulder_2_roll" value=" ${PI/2} "/>
<xacro:property name="Shoulder_2_pitch" value=" 0.0 "/> 
<xacro:property name="Shoulder_2_yaw" value=" 0.0 "/>

<!-- Origin -->
<xacro:property name="Elbow_1_Ox" value=" 0.0 "/>
<xacro:property name="Elbow_1_Oy" value=" 0.365095 "/>
<xacro:property name="Elbow_1_Oz" value=" 0.0 "/>
<xacro:property name="Elbow_1_roll" value=" 0.0 "/>
<xacro:property name="Elbow_1_pitch" value=" 0.0 "/>
<xacro:property name="Elbow_1_yaw" value=" 0.0 "/>

<!-- Origin -->
<xacro:property name="Forearm_1_Ox" value=" 0.0 "/>
<xacro:property name="Forearm_1_Oy" value=" 0.0825 "/>
<xacro:property name="Forearm_1_Oz" value=" -0.051 "/>
<xacro:property name="Forearm_1_roll" value=" ${-PI/2} "/>
<xacro:property name="Forearm_1_pitch" value=" 0.0 "/>
<xacro:property name="Forearm_1_yaw" value=" 0.0 "/>

<!-- Origin -->
<xacro:property name="Wrist_1_Ox" value=" 0.0 "/>
<xacro:property name="Wrist_1_Oy" value=" -0.043 "/>
<xacro:property name="Wrist_1_Oz" value=" 0.2525 "/>
<xacro:property name="Wrist_1_roll" value=" ${-PI/2} "/>
<xacro:property name="Wrist_1_pitch" value=" 0.0 "/>
<xacro:property name="Wrist_1_yaw" value=" 0.0 "/>

<!-- Origin -->
<xacro:property name="Wrist_2_Ox" value=" 0.0 "/>
<xacro:property name="Wrist_2_Oy" value=" -0.02 "/>
<xacro:property name="Wrist_2_Oz" value=" 0.043 "/>
<xacro:property name="Wrist_2_roll" value=" 0"/>
<xacro:property name="Wrist_2_pitch" value=" 0.0 "/>
<xacro:property name="Wrist_2_yaw" value=" 0.0 "/>

<!-- END-EFFECTORS-->
<!-- Origin -->
<xacro:property name="No_end_ft_Ox" value=" 0.0 "/>
<xacro:property name="No_end_ft_Oy" value=" 0.0 "/>
<xacro:property name="No_end_ft_Oz" value=" 0.0 "/>
<xacro:property name="No_end_ft_roll" value=" 0.0 "/>
<xacro:property name="No_end_ft_pitch" value=" 0.0 "/>
<xacro:property name="No_end_ft_yaw" value=" 0.0 "/>

</robot>
